<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% let date = new Date(); let time = null; //setInterval(function() { time =
    date.getHours() + "시 " + date.getMinutes() + "분 " + date.getSeconds() +
    "초"; %>
    <title><%=time%></title>
    <% //}, 1000); %>
    <!--
    ejs 코드 형식
      - <% %> JS 코드
      - <%= %> 문서에 표시
  --></head>
  <body>
    <table border="1">
      <% student.forEach(function(stu) {%>
      <tr>
        <td><%=stu.name%></td>
        <td><%=stu.age%></td>
      </tr>
      <% }); %>
    </table>
    <% for(let i = 0; i < 10; i++) {%>
    <div>test <%=i%></div>
    <% } %>
  </body>
</html>
